<!-- <div class="container">
    <app-monthly-expenses></app-monthly-expenses>
</div> -->

<div class="tabs-box">
  <div 
    class="tab" 
    [class.selected]="activeTab === 'monthly'"
    (click)="activeTab = 'monthly'">
    Monthly Expenses
  </div>

  <div 
    class="tab" 
    [class.selected]="activeTab === 'yearly'"
    (click)="activeTab = 'yearly'">
    Yealy Overview
  </div>

  <!-- <div 
    class="tab" 
    [class.selected]="activeTab === 'trends'"
    (click)="activeTab = 'trends'">
    Trends
  </div> -->
  <div 
    class="tab" 
    [class.selected]="activeTab === 'settings'"
    (click)="activeTab = 'settings'">
    Settings
  </div>
</div>


<div class="container">
    @if (activeTab === 'monthly') {
        <app-monthly-expenses></app-monthly-expenses>
    }
    @if (activeTab === 'yearly') {
        <app-yearly-overview></app-yearly-overview>
    }
    <!-- @if (activeTab === 'trends') {
        <app-expense-trends></app-expense-trends>
    } -->
    @if (activeTab === 'settings') {
        <app-settings></app-settings>
    } 
</div>